## Get and prepare Data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_data = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv')
df_data.head(7)

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121
5  1949-06         135
6  1949-07         148

In [ ]:
df_data.shape

(144, 2)

In [ ]:
df_passenger= df_data['Passengers']

In [ ]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
    # find the end of this pattern
        end_ix = i + n_steps
    # check if we are beyond the sequence
        if end_ix > len(sequence)-1:
            break
    # gather input and output parts of the pattern
        # print(i, end_ix)
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return array(X), array(y)

## tuning data

In [ ]:
n_steps = 2
X, y = split_sequence(df_passenger, n_steps)

In [ ]:
print(X.shape, y.shape)

(142, 2) (142,)

In [ ]:
# column names to X and y data frames
df_X = pd.DataFrame(X, columns=['t-'+str(i) for i in range(n_steps-1, -1,-1)])
df_y = pd.DataFrame(y, columns=['t+1 (prediction)'])

# concat df_X and df_y
df = pd.concat([df_X, df_y], axis=1)

In [ ]:
# df_X.head()
# df_y.head()
df.head(3)

   t-1  t-0  t+1 (prediction)
0  112  118               132
1  118  132               129
2  132  129               121

## prepo

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
X_norm= scaler.fit_transform(df_X)
# y_norm= scaler.fit_transform(df_y)

In [ ]:
X_norm

## Split data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.2, random_state=0)

## model

In [ ]:
# import knn
from sklearn.neighbors import KNeighborsRegressor
model_knn = KNeighborsRegressor(n_neighbors=3)

## fit and predict knn

In [ ]:
model_knn.fit(X_train, y_train)
y_pred=model_knn.predict(X_test)

## mse

$$ \text{MSE} = \frac{1}{n} \sum_{i=0}^n (y_i - \hat{y}_i)^2$$

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

2207.5363984674336

## result

In [ ]:
y_test.shape

(29,)

In [ ]:
y_pred.shape

(29,)

In [ ]:
df_y_test = pd.DataFrame(y_test,columns=['y_test'])
df_y_pred = pd.DataFrame(y_pred,columns=['y_pred'])

df_hasil = pd.concat([df_y_test, df_y_pred], axis=1)

In [ ]:
df_hasil

    y_test      y_pred
0      194  163.666667
1      203  252.000000
2      170  143.666667
3      180  221.000000
4      145  137.333333
5      119  125.000000
6      318  375.333333
7      390  448.666667
8      318  343.666667
9      465  434.666667
10     306  241.666667
11     463  595.666667
12     104  141.333333
13     355  360.333333
14     461  507.000000
15     166  127.666667
16     277  274.000000
17     317  271.333333
18     404  520.333333
19     178  144.666667
20     264  223.666667
21     313  324.000000
22     235  199.666667
23     172  153.000000
24     234  246.333333
25     158  185.666667
26     269  286.000000
27     336  294.000000
28     172  182.333333

In [ ]:
# df_hasil.to_excel('df_hasil n_step={}.xlsx'.format(n_steps), index=False)

In [ ]:
y.min()

104

In [ ]:
y.max()

622